body {
  font-family: "DM Sans";
  font-size: 16px;
  margin: 0;
}

img {
  display: block;
  width: 200px;
  margin: auto;
}

hr {
  margin-top: 30px;
}

h1 {
  font-size: 30px;
  /* color: #e46787; */
  margin: 0;
  text-align: center;
}

h2 {
  text-align: center;
}

h3 {
  font-size: 20px;
}

h4 {
  color: #2462a8;
  font-weight: bold;
  /* margin-top: 10px; */
  margin: 10px 0 0 0;
}

h5 {
  text-align: center;
  display: block;
  font-size: 16px;
  margin: 5px 0;
  font-weight: 400;
  padding: 10px;
  background-color: rgba(220, 230, 239, 0.5);
}

b {
  /* color: #5795db; */
  color: #2462a8;
}

a {
  color: 2462a8;
  /* color: #e46787; */
  text-decoration: none;
  font-weight: bold;
}

/* li {
  padding-left: 1.28571429em;
  text-indent: -1.28571429em;
} */

table {
  width: 100%;
}

/* Division Headers */
.divHeading {
  padding: 2%;
}

#subtitle {
  font-size: 12px;
  text-align: center;
  color: #afb5b6;
}

/* Pagination Tabs */
#pagination {
  display: flex;
  flex-direction: row;
  left: 0;
  right: 0;
}

.tab {
  color: #93bbeb;
  background-color: white;
  padding: 10px 0;
  width: 100%;
  vertical-align: middle;
  font-size: 18px;
  text-align: center;
  display: flex;
}

.tab:hover {
  transition: 0.3s;
  /* color: #e46787; */
  color: black;
  cursor: pointer;
}

.active {
  background-color: #f5f6fc;
  /* color: #e46787; */
  color: black;
}

.freeze {
  width: 100%;
  background-color: white;
}

/* Tab Information */
.tabs {
  background-color: #f5f6fc;
  height: 100%;

  bottom: 0;
}

#glow {
  text-shadow: 0 0 25px darkorange, 0 0 8px red;
  display: inline;
  color: white;
}

#dt2,
#dt3,
#dt4 {
  padding: 20px 150px;
  background-color: #f5f6fc;
  display: none;
}

#dt1 {
  padding: 20px 150px;
  background-color: #f5f6fc;
}

.row {
  padding: 10px 0px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  overflow-x: scroll;
}

.row img {
  object-fit: contain;
  margin: 0;
}

.column {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  margin: 0 10px;
  text-align: center;
}

.column img {
  width: 100%;
  height: auto;
}

ul.breadcrumb {
  padding: 10px 16px;
  list-style: none;
  background-color: rgba(220, 230, 239, 0.5);
  text-align: center;
}
ul.breadcrumb li {
  display: inline;
  /* font-size: 18px; */
}
ul.breadcrumb li + li:before {
  padding: 8px;
  color: black;
  content: "/\00a0";
}
ul.breadcrumb li a {
  color: #0275d8;
  text-decoration: none;
}
ul.breadcrumb li a:hover {
  color: #01447e;
  text-decoration: underline;
}

video {
  margin: auto;
  justify-self: center;
}
